<html>
<head>
<!-- #BeginEditable "doctitle" -->
<title>Online Mobile Store</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html;">

 <%= javascript_include_tag 'jquery','application','jquery.colorbox-min'%>
 <%= calendar_date_select_includes %>

    	<link media="screen" rel="stylesheet" href="/css/colorbox.css" />
    	<link media="screen" rel="stylesheet" href="/stylesheets/pagination.css" />
 <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
<link media="screen" rel="stylesheet" href="/stylesheets/autocomplete.css" />


   
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr> 
    <td height="180" valign="top" background="/images/headerfill.jpg"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <%=render :partial=> "/layouts/header_top"%>
      </table>
    </td>
  </tr>
   <%=render :partial=> "/layouts/header_tag"%>
  <tr> 
    <td height="22"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="5" height="100%">
        <tr> 
          <td valign="middle" align="right" class="title"> 
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="25" height="100%">
        <tr> 
          <td valign="top" class="text" height="355"><!-- #BeginEditable "content" --><%=yield%><!-- #EndEditable --></td>
        </tr>
      </table>
    </td>
  </tr>
  <%=render :partial=> "/layouts/footer_tag"%>
</table>
</body>
</html>
